.App {
    margin-left: auto;
    margin-right: auto;
    width: 18em;
    position:relative;
    border: 3px groove black;
    height: 30em;
    overflow:hidden;
    overflow-y: scroll;
}


ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}

li {
    border: 1px solid black;
    background: #99ffd9;
    padding: 0px;
    height: 2.5em;
    
}
button{
    position:absolute; 
    right:22px;
}
li button{
    background-image: url(button.png);
    width: 40px;
    height: 40px;
}